.progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

#performer {
    z-index:40;
    display:none;
    background-color:#FFFFFF;
}

.performance {
    z-index:50;
    display:none;
    background-color:#FFFFFF;
}

#greeting {
    z-index:70;
    display:none;
}

#loading {
    z-index:90;
    padding:100px;
    display:none;
}


#performerMenuContainer {
    display:none;
    z-index:100;
    position:fixed;
    left:0px;
    top:0px;
    width:50px;
    font-size:50px;
    opacity:0.2;
    height:50px;
}
#performerMenu {
    z-index:100;
    position:fixed;
    left:0px;
    top:50px;
}

#editor {
    z-index:60;
    display:none;
}

#overview {
    z-index:60;
    display:none;
}

#modal {
    z-index:105;
    display:none;
}


#fatal {
    z-index:70;
    padding:100px;
}

#password {
    display:none;
}

#anonymousObserver {
    display:none;
}

#notificationArea {
    z-index:90;
    display:none;
    width:50%;
    bottom:0px;
    position:fixed;
    right:0px;
}

#prepareReady {
    display:none;
}

.miniDisplay {
    position:fixed;
    bottom:30px;
    right:30px;
    overflow:hidden;
    box-shadow: 0px 0px 30px #888888;
    border:0px solid #888888;
    width:28%;
    height:28%;
    z-index:55;
    background-color:#FFFFFF;
    opacity:0.7;
}

.miniDisplayInner {
    position:absolute;
    top:0px;
    left:0px;
    width:357%;
    height:357%;
    
    
    /** zoom:0.28; **/
    transform:scale(0.28);
    transform-origin: top left;
    /**
    zoom : 0.5; **/
    
    -moz-transform:scale(0.28);
    -moz-tranform-origin:top left;
    -ms-transform:scale(0.28);
    -ms-transform-origin:top left;
    
  
  
}

.mainDisplay {
    z-index:55;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}

.counterDisplay {
    z-index:60;
    position:fixed;
    top:0px;
    right:0px;
    width:150px;
    height:100px;
    text-align:right;
    font-size:36px;
}

.progressContainer {
    z-index:60;
    position: fixed;
    bottom:0px;
    left:0px;
    width:100%;
    height:30px;
}

.performanceProgressBar {
    z-index:60;
    position:absolute;
    bottom:0px;
    left:0px;
    background-color:#000000;
    height:100%;
    width:0%;
}

#sureInner {
    position:relative;
    width:800px;
    margin-left:auto;
    margin-right:auto;
}
#sureText {
    color:#FFFFFF;
}

.fullScreen {
    background-color:#FFFFFF; 
    position:fixed;
    width:100%;
    height:100%;
    left:0px;
    top:0px;
}

event {
    display:none;
}

.textDisplayEvent {
    top:30%;
    left:0px;
    width:100%;
    position:absolute;
    text-align:center;

}


.imageDisplayEvent {
    margin-left:auto;
    background-position:center;
    margin-right:auto;
    width:100%;
    height:100%;
    background-repeat:no-repeat
}

.mainEvent {
    width:100%;
    height:100%;

}

.mainThrob {
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:56;
    background-color:#4DFF4D;
    opacity:0;
}

.miniThrob {
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:56;
    background-color:#FF4D4D;
    opacity:0;
}

.scriptEvent {
    width:100%;
    height:100%;
}

.miniEvent {
    width:100%;
    height:100%;

}


.vexScore {

}











.node circle {
    stroke:steelblue;
    stroke-width:4;
    fill:white;
}

.node circle.selected {
    fill: black;
}

line.edge {
    stroke:steelblue;
    stroke-width:4;
}

line.levent {
    stroke:grey;
    stroke-width:4;
}

